.my-btn {
    display: flex;
}

.app{
    display: flex;
<<<<<<< HEAD
    justify-content: center;
}

#store-list{
    justify-content: left;

=======
>>>>>>> f3a16066ff9c3f9f599e3d7403a2f38e0dcbdde1
}

#store-info{
    display: flex;
    background-color: rgb(221, 153, 27);
    justify-content: center;
    text-align: center;
}